.link:hover,
.link:visited {
  text-decoration: none;
}

.button {
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;
  }

  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: background-position 0.5s ease;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: 0;
  user-select: none;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
