@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.title {
  margin: 0 0 0.5em 0;
  font-size: 5rem;
  font-weight: 700;

  @include breakpoint($small) {
    font-size: 2.2rem;
  }
}

.skillGroupsContainer {
  margin: -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    margin: 16px;
    box-sizing: border-box;
  }
}

.skillGroupCard {
  background-color: $white;
  border: 1px solid $whitegrey;
  border-radius: 16px;
  padding: 16px;
  width: 450px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }

  @include breakpoint($smallAndMedium) {
    width: 300px;
  }

  &.focused {
    box-shadow: 0px 1px 3px rgba($blue, 0.1), 0px 1px 2px $blue;

    &:hover {
      box-shadow: 0px 6px 12px $blue;
    }

    .skillGroupTitle {
      color: $blue;
    }
  }

  .skillGroupHead {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .skillGroupTitle {
      margin-right: 16px;
    }

    .skillGroupLogos {
      display: flex;
      margin: -4px;

      > * {
        margin: 4px !important;
      }
    }
  }

  .skillGroupText {
    text-align: justify;
  }
}
