@import 'styles/colors';
@import 'styles/texts';
@import 'styles/sizes';

.container {
  background-color: $themeColor;
  color: $white;
  padding: 20px $contentPaddingLeftRight 40px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $contentWidth;
    margin: auto;

    .copyright {
      @include headerFooterFont();
    }
  }
}
